*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00C583;
}


.Main{
    width: 50%;
    
}


.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid green;
    background-color: #FF9068;
    gap: 30px;
    border-radius: 10px;
}

h3{
    font-size: 30px;
    color:white;
    text-align: center;
}


div{
    width: 50%;
    padding: 1vw;
    margin: auto;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1vw;

}


#box1{
    box-shadow: 5px 5px 10px 5px #000;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 100;
}

#box2{
    box-shadow: 5px 5px 10px 5px #000;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 20px;
    border-radius: 10px;
}


.image-hero{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.card{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card img{
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 10px solid #00C583;
    border-radius: 50%;
}

label{
    display: block;
    width: 200px;
    background: #e3362c;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px auto;

}

input{
    display: none;
}