*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
}

#exit{
    position: absolute;
    right: 0;
    padding: 05px;
    margin: 10px;
}

#main{
    border: 2px solid red;
    width: 70vw;
    height: 70vh;
    display: flex;
    position: relative;
    /* flex: 1; */
}


#left{
    /* border: 2px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50px;
}

#right{
    /* border: 2px solid blue; */
    width: 50%;
    position: relative;
    display:flex;
    justify-content:center;
    align-items: center;
}

#right input{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid green;
}

#btn{
    width: 200px;
}